@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
Command for Tailwind build || live cache refresh
npx tailwindcss -i index.css -o tailwind.css --watch 
*/
:root {
  --color-white: #FFFFFF;
}

*, ::before, ::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.displayNone {
  display: none;
}

html {
  font-size: 16px;
  
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

h1{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* Flipping animation */

/* .pokemon-card {  
  perspective: 100%;
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.hover .front {
  transform: rotateY(0deg);
}

.hover .back {
  transform: rotateY(180deg);
} */

/* MEDIA QUERIES */

@media screen and (max-width:1702px) {
  div#divResults{
    grid-template-columns: repeat(4, 1fr);
  }

}

@media screen and (max-width:1344px) {
  div#divResults{
    grid-template-columns: repeat(3, 1fr);
  }

}
@media screen and (max-width:1040px) {
  div#divResults{
    grid-template-columns: repeat(2, 1fr);
  }
  
  header#header{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width:678px) {

  div#divResults{
    grid-template-columns: repeat(1, 1fr);
  }
  div#wrapperCharizardAndProjectname{
    flex-direction: column;
    
  }
  header#header{
    gap:0;
  }
}

@media screen and (max-width:445px) {
  h1#topHeading span.assignmentTitle {
    font-size: 2.3rem;    
  }
  h1#topHeading a {
    font-size: 1.1rem;
  }
}


@media screen and (max-width:350px) {
  h1#topHeading span.assignmentTitle {
    font-size: 2rem;    
  }
  h1#topHeading a {
    font-size: 1rem;
  }
}
